input[type=checkbox] {
    &.uranus {
        -webkit-appearance: none;
        border: 1px solid black;
    }
}

input[type=radio] {

}

 
.venus {
	border: 1px solid #333;
	background: #eee;
	width: 2;
	height: 2;
	border-radius: 0.2;
}