input[type=checkbox] {
    -webkit-appearance: none;

    &.uranus {
        position: relative;
        width: 1em;
        height: 1em;
        margin: 0.25em;
        border: 1px solid black;
        transition: all .1s linear;

        &:before {
            transition: all .1s linear;
        }

        &:active {
            width: 1.5em;
            height: 1.5em;
            margin: 0em;
        }

        &:checked {
            &:before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                border-bottom: 0.85em solid black;
                border-left: 0.85em solid transparent;
            }

            &:active:before {
                border-bottom-width: 1.275em;
                border-left-width: 1.275em;
            }
        }
    }
}

input[type=radio] {
    -webkit-appearance: none;
}